.reviews{
    &__add{
        margin: 0 -2rem -2rem -2rem;
        background-color: $add-review-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem 2rem 2rem;
        height: 100%;
        flex-grow: 1;
    }
    &__input{
        resize: none;
        width: 100%;
        margin-bottom: 2.6rem;
    }
    &__button{
        font-size: 1.6rem;
        font-weight: 700;
        background-color: $add-review-button;
        padding: 1rem 6rem;
        border-radius: 4rem;
        border: none;
        outline: none;  
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;       
    }

}