.reviews{
    &__add{
        margin: 0 -2rem -2rem -2rem;
        background-color: $add-review-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        height: 100%;
        flex-grow: 1;
    }
    &__input{
        resize: none;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2.6rem;
        font-size: 1.4rem; 
        line-height: 1.8rem;       
        text-align: justify;
        outline: none;
        font-family: 'Arial', sans-serif;
        padding: 1.3rem;
    }
    &__error{
        font-size: 1rem;
        color: $dark-grey-text;
        margin-bottom: -1rem; 
    }
    &__button{
        font-size: 1.6rem;
        font-weight: 700;
        background-color: $add-review-button;
        padding: 1rem 6rem;
        border-radius: 4rem;
        border: none;
        outline: none;  
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;       
    }
}