$profile-image-size: 12rem;
$profile-light-yellow: #fffbc8;
$profile-services-blue: #ace2f8;
$profile-services-green: #b1e19b;

$review-background: #f2fbff;

$light-grey: #cccccc;
$dark-grey-text: #808080;

$add-review-background: #f2f2f2;

$add-review-button: #fdd639;


